[Unit]
Description=My Flask App
After=network.target

[Service]
Type=simple
# run as a non-login system user created in postinst
User=myflask
Group=myflask
WorkingDirectory=/opt/myflaskapp
ExecStart=/usr/bin/python3 /opt/myflaskapp/app.py
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=myflaskapp

[Install]
WantedBy=multi-user.target
