[Unit]
Description=Raspberry Pi Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/raspi-server/app.py
WorkingDirectory=/opt/raspi-server
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
