[Unit]
Description=Raspi Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/raspi-server
ExecStart=/opt/raspi-server/venv/bin/python /opt/raspi-server/app.py
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
